
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');


*{
    text-decoration: none;
    padding: 0;
    margin: 0;

}
html {
    scroll-behavior: smooth;
    background-color: #FFF8F2;
}
a{
    color: #541412;
}
body{
    border: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 85px 280px 0 280px;
    /*width: 100%;*/
}

.ligne{
    border-bottom: #C34F5A solid 2.5px;
    margin: -16px 0;
}
#mycanvas, #mycanvas2, #mycanvas3 {
    display:none;
  }

.capture{
    display: none;
}
.rouge{
    margin-top: 10vh;
}
h2{
    color: #C34F5A;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 40px;
    width: fit-content;
    padding-bottom: 16px;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 50px;
    color: #541412;

}
.fleche{
    width: 100%;
    margin: 150px 0 250px 0;
    text-align: center;
    padding: 10px;
    animation: bounce 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 10px, 0); }
  }
  
#fleche{
    cursor: pointer;
}
h3{
    font-family: 'Playfair Display SC', serif;
    font-size: 32px;
    color: #C34F5A;
    border-bottom: #C34F5A solid 2.5px;
}

.soup, .roi, .untiltled{
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.img{
    width: 576px;
    height: auto;
}
.img2{
    width: 365px;
    height: auto;
}
.right{
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
h4{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #541412;
    border-bottom: #C34F5A solid 2.5px;
}
.text{
    width: 408px;
}
.text p, label{
    font-size: 16px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #541412;
}
.sources{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
}
.source{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border-bottom: #541412 solid 1px;
    margin: 0 5px;
}
.source_titre{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.control{
    margin-top: 2vh;
}
button{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFF8F2;
    background-color: #C34F5A;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    margin-top: 10vh;
    width: fit-content;
    transition: 0.2s;
}
button:hover{
    color: #541412;
    background-color: #D69F3A;
    transition: 0.2s;
}
.button1{
    margin-top: 7vh;
}
.btnGuillaume{
    margin-top: 2vh;
}
.btn, .btnMobil{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.soup h2, .roi h2, .untiltled h2{
    margin-bottom: 20px;
}
footer{
    background-color: #C34F5A;
    margin: 85px -280px 0 -280px;
}
footer p{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    padding: 30px 280px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #C34F5A;
    border-radius: 25px;
    border: 0px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #742d34;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
  }
#load3, #load4{
    display: none;
}
.popUp1, .popUp2, .popUp3{
    display: none;
    z-index: 10;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.popUpOn1, .popUpOn2, .popUpOn3{
    display: block !important;
}

.popUpOn1 p, .popUpOn2 p, .popUpOn3 p{
   /* text-align: center;*/
    color: #FFF8F2;
    margin-top: 22vh;
}
.cross1, .cross2, .cross3{
    position: fixed;
    right: 5vw;
    top: -5vh;
}
.orange{
    background-color: rgba(214, 159, 58, 1);
   height: 50px;
    width: 100%;
    margin-top: 10px;
}
.popUpContent{
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translate(-50%);

}
.popGuillaume{
    margin-top: 12vh !important;
}
.popGuillaume2{
    position: fixed;
    width: 90%;
}
@media screen and (max-width: 1110px) {
    body{
        margin: 0 100px 0 100px;
    }
    footer{
        margin: 85px -100px 0 -280px;
    }
}

@media screen and (max-width: 800px) {
    
    body{
        margin: 0;
        width: 100%;
        /*overflow: hidden;*/
    }

    .rouge-titre{
        width: 100%;
    }
    .rouge h2{
        font-size: 18px;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
    p{
        font-size: 18px;
        margin: 5vh 10px;
    }
    .fleche{
        display: none;
    }
    .img, .img2{
        width: 100% !important;
    }
    h4{
        text-align: center;
    }
    .soup_left{
        width: 100%;
    }
    h2{
        color: #C34F5A;
        padding-bottom: 0;
        font-size: 22px;
        width: 100%;
        padding: 5px;
    }
    .right{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    .control{
        text-align: center;
        margin-top: 10px;
    }
    button{
        margin: 10vh auto;
    }
    .btnGuillaume{
        margin: 10px auto;
    }
    footer{
        margin: 0;
    }
    footer p{
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        font-weight: 300;
        color: #fff;
        padding: 13px;
        margin: 0;
    }
    .soup h2, .roi h2, .untiltled h2{
        padding: 10px 0;
        text-align: center;
    }
    .left{
        width: 100%;
    }
    #load3, #load4{
        display: block;
    
    }   
    
    .popUpOn1 p, .popUpOn2 p, .popUpOn3 p{
        width: 100%;
        margin: 0 10px;
        margin-left: 0 !important;
    }
    .cross1, .cross2, .cross3{
        position: fixed;
        right: 0;
        top: 0;
    }
    .cross3{
        top: -215px !important;
    }
    .cross1{
        top: -42px !important;
    }
    .orange{
       height: 20px;
    }
    .popGuillaume{
        font-size: 13px;
    }
    .popUpContent{
        position: fixed;
        width: 100%;
        margin-left: 0;
        top: 35%;
    }
    .popGuillaume2{
        top: 0 !important;
    }
}
