
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');


*{
    text-decoration: none;
    padding: 0;
    margin: 0;

}
html {
    scroll-behavior: smooth;
    background-color: #FFF8F2;
}
a{
    color: #541412;
}
body{
    border: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 85px 280px 0 280px;
    /*width: 100%;*/
}

.ligne{
    border-bottom: #C34F5A solid 2.5px;
    margin: -16px 0;
}
#mycanvas, #mycanvas2, #mycanvas3 {
    display:none;
  }

.capture{
    display: none;
}
.rouge{
    margin-top: 10vh;
}
h2{
    color: #FFF8F2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 36px;
    background-color: #C34F5A; 
    width: fit-content;
    padding: 8px 35px;
}
p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 50px;
    color: #541412;

}
.fleche{
    width: 100%;
    margin: 150px 0 250px 0;
    text-align: center;
}
#fleche{
    cursor: pointer;
}
h3{
    font-family: 'Playfair Display SC', serif;
    font-size: 32px;
    color: #C34F5A;
    border-bottom: #C34F5A solid 2.5px;
}

.soup, .roi, .untiltled{
    margin-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.img{
    width: 576px;
    height: auto;
}
.img2{
    width: 365px;
    height: auto;
}
.right{
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
h4{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #541412;
    border-bottom: #C34F5A solid 2.5px;
}
.text{
    width: 408px;
}
.text p{
    font-size: 16px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #541412;
}
.sources{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
}
.source{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    border-bottom: #541412 solid 1px;
    margin: 0 5px;
}
.source_titre{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
button{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFF8F2;
    background-color: #C34F5A;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    margin-top: 10vh;
    width: fit-content;
}
.button1{
    margin-top: 7vh;
}
.soup h2, .roi h2, .untiltled h2{
    margin-bottom: 20px;
}
footer{
    background-color: #C34F5A;
    margin: 85px -280px 0 -280px;
}
footer p{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    padding: 30px 280px;
}

@media screen and (max-width: 950px) {
    
    body{
        margin: 0;
        width: 100%;
        /*overflow: hidden;*/
    }

    .rouge-titre{
        width: 100%;
        background-color: #C34F5A;

    }
    .rouge h2{
        font-size: 18px;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }
    p{
        font-size: 18px;
        margin: 5vh 10px;
    }
    .fleche{
        display: none;
    }
    .img, .img2{
        width: 100% !important;
    }
    h4{
        text-align: center;
    }
    .soup_left{
        width: 100%;
    }
    h2{
        font-size: 22px;
        width: 100%;
        padding: 5px;
    }
    .right{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    button{
        margin: 10vh auto;
    }
    footer{
        margin: 0;
    }
    footer p{
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        font-weight: 300;
        color: #fff;
        padding: 13px;
        margin: 0;
    }
    .soup h2, .roi h2, .untiltled h2{
        padding: 10px 0;
        text-align: center;
    }
    .left{
        width: 100%;
    }
}
